## Data Analysis with SQLite

#### Mert Hüseyin UZAN
#### Dataset: WNBA Player Stats Season 2016-2017
#### Dataset url: https://www.kaggle.com/jinxbe/wnba-player-stats-2017

In [2]:
import sqlite3 as sql
import pandas as pd
conn=sql.connect("WNBA.db")
df = pd.read_csv('WNBA.csv')
df.to_sql("WNBA",conn,if_exists='replace')
cur = conn.cursor()

C:\Users\merth\Anaconda3\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

#### Problem 1: Average player height by team

In [3]:
cur.execute("SELECT Team,AVG(Height) AS avg FROM WNBA GROUP BY Team ORDER BY avg DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('DAL', 186.58333333333334)
('LA', 185.83333333333334)
('ATL', 185.72727272727272)
('PHO', 185.58333333333334)
('CHI', 185.5)
('CON', 184.75)
('SEA', 184.33333333333334)
('IND', 184.08333333333334)
('SAN', 183.46153846153845)
('NY', 183.16666666666666)
('MIN', 183.0909090909091)
('WAS', 182.75)

#### Problem 2: Average age by team

In [4]:
cur.execute("SELECT Team,AVG(Age) as age FROM WNBA GROUP BY Team ORDER BY age DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('MIN', 30.545454545454547)
('PHO', 28.5)
('LA', 28.5)
('IND', 28.0)
('SEA', 27.083333333333332)
('ATL', 26.90909090909091)
('SAN', 26.692307692307693)
('WAS', 26.666666666666668)
('CHI', 26.666666666666668)
('NY', 26.0)
('CON', 25.0)
('DAL', 24.666666666666668)

#### Problem 3: Total points leaders top 10

In [5]:
cur.execute("SELECT Name,PTS FROM WNBA ORDER BY PTS DESC LIMIT 10")
rows = cur.fetchall()
for row in rows:
    print(row)

('Breanna Stewart', 584)
('Tina Charles', 582)
('Nneka Ogwumike', 577)
('Sylvia Fowles', 572)
('Skylar Diggins-Smith', 545)
('Jia Perkins', 517)
('Devereaux Peters', 514)
('Candace Parker', 494)
('Maya Moore', 490)
('Jordan Hooper', 467)

#### Problem 4: Total points per minute top 10

In [6]:
cur.execute("SELECT Name,MIN,PTS,CAST((PTS)AS FLOAT)/MIN AS ptsMIN FROM WNBA ORDER BY ptsMIN DESC LIMIT 10")
rows = cur.fetchall()
for row in rows:
    print(row)

('Brittany Boyd', 32, 26, 0.8125)
('Brittney Griner', 682, 461, 0.6759530791788856)
('Devereaux Peters', 796, 514, 0.6457286432160804)
('Sylvia Fowles', 895, 572, 0.6391061452513966)
('Diana Taurasi', 591, 376, 0.6362098138747885)
('Breanna Stewart', 952, 584, 0.6134453781512605)
('Tina Charles', 952, 582, 0.6113445378151261)
('Nneka Ogwumike', 948, 577, 0.6086497890295358)
('Danielle Adams', 81, 49, 0.6049382716049383)
('Jordan Hooper', 833, 467, 0.56062424969988)

#### Problem 5: Total 3-point made by Team

In [7]:
cur.execute("SELECT Team,\"15:00\" AS tpm FROM WNBA GROUP BY Team ORDER BY tpm DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('CHI', 70)
('SAN', 21)
('CON', 19)
('IND', 18)
('DAL', 12)
('MIN', 7)
('LA', 5)
('PHO', 4)
('WAS', 2)
('SEA', 2)
('NY', 2)
('ATL', 0)

#### Problem 6: Players' collages

In [8]:
cur.execute("SELECT College,COUNT(College) AS count FROM WNBA GROUP BY College ORDER BY count DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('Connecticut', 14)
('Maryland', 8)
('Rutgers', 7)
('Duke', 7)
('Notre Dame', 6)
('Tennessee', 5)
('North Carolina', 5)
('LSU', 4)
('Baylor', 4)
('Stanford', 3)
('South Carolina', 3)
('Minnesota', 3)
('Kentucky', 3)
('Brazil', 3)
('Arizona State', 3)
('West Virginia', 2)
('Washington', 2)
('UC Berkeley', 2)
('Texas Tech', 2)
('Texas A&M', 2)
('Texas', 2)
('Southern California', 2)
('Oklahoma', 2)
('Ohio State', 2)
('Nebraska', 2)
('Middle Tennessee', 2)
('Miami (FL)', 2)
('Georgetown', 2)
('DePaul', 2)
('Australia', 2)
('Xavier', 1)
('Wake Forest', 1)
('Utah', 1)
('UNLV', 1)
('UCLA', 1)
('Texas–El Paso', 1)
('Temple', 1)
('Syracuse', 1)
('Syracruse', 1)
('South Florida', 1)
('Simon Fraser', 1)
('Sengal', 1)
("Saint Joseph's", 1)
('Pittsburgh', 1)
('Penn State', 1)
('Oregon State', 1)
('Northwestern', 1)
('Michigan State', 1)
('Louisville', 1)
('Kansas State', 1)
('Japan', 1)
('James Madison', 1)
('Houston', 1)
('Gonzaga', 1)
('Georgia Tech', 1)
('Georgia', 1)
('George Washington', 1)
('France', 1)
('Florida State', 1)
('Florida', 1)
('Delaware', 1)
('Central Florida', 1)
('Brigham Young', 1)
('Boston College', 1)
('Belgium', 1)

#### Problem 7: Total 3-point made by Players in Team LA

In [9]:
cur.execute("SELECT Name,\"15:00\" AS threePM FROM WNBA WHERE Team='LA' ORDER BY threePM DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('Chelsea Gray', 48)
('Candace Parker', 40)
('Riquna Williams', 20)
('Nneka Ogwumike', 18)
('Sydney Wiese', 13)
('Odyssey Sims', 11)
('Alana Beard', 5)
('Jantel Lavender', 4)
('Essence Carson', 0)
('Maimouna Diarra', 0)
('Sandrine Gruda', 0)
('Tiffany Jackson', 0)

#### Problem 8: Center (C)  players and their total points

In [10]:
cur.execute("SELECT Name,Team,PTS FROM WNBA WHERE Pos='C' ORDER BY PTS DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('Sylvia Fowles', 'MIN', 572)
('Brittney Griner', 'PHO', 461)
('Stefanie Dolson', 'CHI', 398)
('Isabelle Harrison', 'SAN', 364)
('Kayla Alexander', 'SAN', 318)
('Emma Meesseman', 'WAS', 259)
('Damiris Dantas', 'ATL', 254)
('Natalie Achonwa', 'IND', 207)
('Jantel Lavender', 'LA', 200)
('Krystal Thomas', 'WAS', 199)
('Érika de Souza', 'SAN', 159)
('Kiah Stokes', 'NY', 141)
('Kia Vaughn', 'NY', 134)
('Imani Boyette', 'ATL', 127)
('Lynetta Kizer', 'CON', 119)
('Cayla George', 'PHO', 100)
('Courtney Paris', 'DAL', 70)
('Carolyn Swords', 'SEA', 54)
('Amanda Zahui B.', 'NY', 51)
('Clarissa dos Santos', 'SAN', 17)
('Temi Fagbenle', 'MIN', 17)
('Jennifer Hamson', 'IND', 12)
('Breanna Lewis', 'DAL', 7)
('Lanay Montgomery', 'SEA', 6)
('Maimouna Diarra', 'LA', 3)

#### Problem 9: Average height by position

In [11]:
cur.execute("SELECT Pos,AVG(Height) AS avgH FROM WNBA GROUP BY Pos ORDER BY avgH DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('C', 194.92)
('F/C', 191.75)
('F', 188.4848484848485)
('G/F', 185.53846153846155)
('G', 176.45)

#### Problem 10: Players birth place and count

In [12]:
cur.execute("SELECT Birth_Place,Count(Birth_Place) AS count FROM WNBA GROUP BY Birth_Place ORDER BY count DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

('US', 123)
('CA', 3)
('BR', 3)
('AU', 3)
('UK', 1)
('SN', 1)
('SE', 1)
('PR', 1)
('NG', 1)
('JP', 1)
('JM', 1)
('FR', 1)
('ES', 1)
('BS', 1)
('BE', 1)

#### Problem 11: Average turnover by age

In [13]:
cur.execute("SELECT Age,AVG(\"TO\") AS avg FROM WNBA GROUP BY Age ORDER BY Age DESC")
rows = cur.fetchall()
for row in rows:
    print(row)

(36, 57.0)
(35, 49.5)
(34, 42.6)
(33, 38.333333333333336)
(32, 35.0)
(31, 30.0)
(30, 35.888888888888886)
(29, 26.125)
(28, 31.928571428571427)
(27, 38.0)
(26, 33.666666666666664)
(25, 28.266666666666666)
(24, 32.0)
(23, 24.2)
(22, 28.7)
(21, 11.5)

#### Problem 12:  Top 10 blocker players of the top 5 blocker teams

In [14]:
cur.execute("SELECT Name,Team,BLK FROM WNBA WHERE Team IN (SELECT Team FROM WNBA GROUP BY Team ORDER BY SUM(BLK) DESC LIMIT 5) ORDER BY BLK DESC LIMIT 10")
rows = cur.fetchall()
for row in rows:
    print(row)

('Elena Delle Donne', 'WAS', 64)
('Sylvia Fowles', 'MIN', 61)
('Brittney Griner', 'PHO', 54)
('Jewell Loyd', 'SEA', 50)
('Breanna Stewart', 'SEA', 47)
('Jordan Hooper', 'CHI', 46)
('Stefanie Dolson', 'CHI', 37)
('Diana Taurasi', 'PHO', 31)
('Krystal Thomas', 'WAS', 31)
('Emma Cannon', 'PHO', 27)

#### Problem 13: Players whose names are start with J

In [15]:
cur.execute("SELECT Name,Team FROM WNBA WHERE Name LIKE 'J%'")
rows = cur.fetchall()
for row in rows:
    print(row)

('Jantel Lavender', 'LA')
('Jasmine Thomas', 'CON')
('Jazmon Gwathmey', 'IND')
('Jeanette Pohlen', 'IND')
('Jennifer Hamson', 'IND')
('Jessica Breland', 'CHI')
('Jewell Loyd', 'SEA')
('Jia Perkins', 'MIN')
('Jonquel Jones', 'CON')
('Jordan Hooper', 'CHI')